* {
	font-family: 'Poppins', Arial, Helvetica, sans-serif;
	text-align: left;
	padding: 0;
	margin: 0 1%;
	background: none;
	color: black;
}

body::-webkit-scrollbar {
	display: none;
}

h4 {
	font-weight: 600;
}

.navbar-brand {
	font-weight: 500;
}

.navbar .navbar-brand {
	color: black;
}

.navbar a {
	background: none;
	color: black;
}

.ampersand {
	width: 30vw;
	z-index: 0;
	position: absolute;
	right: 14%;
	bottom: 45%;
	translate: transformY(-50%);
}

.bio-container {
	height: 85vh;
}

.bio {
	padding: 24px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 0;
}

.bio .bio-description {
	max-width: 1000px;
}

.bio .title {
	z-index: 1;
	padding-bottom: 24px;
	font-size: 6vw;
	font-weight: 800;
	background: linear-gradient(to right, #bdc3c7 0%, #2c3e50 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	align-items: center;
	max-width: 2000px;
}

.work {
	text-align: center;
	margin: 0 0% 15% 0%;
}

.product-card {
	margin: 0 auto;
	padding: 16px;
}

.card-border-none {
	margin-bottom: 50px;
}

.product-image {
	width: 90%;
	margin: 0 auto;
	padding: 15px;
}

.product-links {
	text-align: center;
}

.footer {
	margin: 36px auto;
}

.footer-elements .footer-elements {
	color: red;
}

@media (max-width: 450px) {
	.ampersand {
		right: 10%;
		bottom: 53%;
	}

	.bio {
		position: relative;
		margin: 16px;
	}
}

@media (min-width: 750px) {
	.ampersand {
		right: 6%;
		bottom: 50%;
	}
}

@media (min-width: 1000px) {
	.ampersand {
		right: 6%;
		bottom: 48%;
	}
}

@media (min-width: 1300px) {
	.ampersand {
		right: 6%;
		bottom: 45%;
	}
}

@media (min-width: 1500px) {
	.ampersand {
		right: 6%;
		bottom: 44%;
	}
}

@media (min-width: 1800px) {
	.ampersand {
		width: 26vw;
		right: 6%;
		bottom: 40%;
	}
}

@media (min-width: 2000px) {
	.ampersand {
		width: 26vw;
		right: 6%;
		bottom: 35%;
	}
}

@media (min-width: 2200px) {
	.bio .title {
		font-size: 4.6vw;
	}

	.ampersand {
		width: 26vw;
		right: 6%;
		bottom: 38%;
	}
}

@media (min-width: 2400px) {
	.ampersand {
		width: 26vw;
		right: 6%;
		bottom: 35%;
	}

	.bio .bio-description {
		max-width: 900px;
		background: none;
	}
}

@media (min-width: 2500px) {
	.bio .title {
		font-size: 4.6vw;
	}

	.ampersand {
		width: 26vw;
		right: 8%;
		bottom: 32%;
	}
}

@media (prefers-color-scheme: light) {
	* {
		background-color: #1f1f1f;
		color: white;
	}

	.ampersand {
		content: url(/Assets/dark-ampersand.svg);
	}

	.navbar .navbar-brand {
		color: white;
	}

	.navbar a {
		background: none;
		color: white;
	}
}
